*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(90, 90, 90);
}
.div_width{
    width:50%;
}
.div_width img{
    width:100%;
    height: 550px;
}
.div_width h1{
    font-size:2em;
    font-weight: 700;
    padding-top:40px;
    font-size: 2.5em;
    margin-bottom: 0;
}
.div_width h1 span{
    color:orange;
}
.section_properties{
    padding:80px;
    display:flex;
}
.button{
    color:white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 1em 2em;
    text-decoration:none;
    border-radius: 30px;
}
#imagine{
    margin-top:20px;
    color: rgb(177, 179, 179);
    font-weight: 500;
    margin-bottom: 40px;
}
.girl_img{
    margin-top:100px;
    padding-top: 80px;
    padding-left: 150px;
}
.girl_img p{
    margin: 30px 0px;
}
.girl_img p{
    margin-bottom:80px;
}
.about_me{
    height: 600px;
    background-image: url(shapes/7.png);
    background-repeat: none;
    background-size: cover;
    padding: 0 100px;

}
.about_me div img{
    height: 500px;
    width: 280px;
    margin-left: 200px;
    margin-top: 100px;
}
.recipie{
    display: flex;
    margin:50px 80px;
    
}
.cart{
    width:600px;
    height:500px;
    margin-left:20px;
    box-shadow: 0 0 30px gray;
    border: 20px solid white;
    border-radius: 20px;
    margin: 0 auto;
}
.recipie div img{
   width: 100%;
    height:400px;
}
.recipie div p{
    font-size: 12px;
    margin-bottom: 10px;
}
.recipie div h2{
    margin:10px 0px;
}
.profile_details{
    width: 100%;
    display: flex;
    box-shadow: 0 0 30px rgb(228, 228, 228);
    padding: 50px 0px;
    margin-left: 20px;
    border-radius:20px;
    margin:0px 100px;
}
.profile_details div{
    width:33.33%;
    text-align: center;
}
footer{
    text-align: center;
    padding:40px 0px;
    background-color: black;
    color: white;
}
